<!-- This is a blank template.  You can copy this to make a new template page. -->


{% extends 'base.html' %}

{% block body %}
<h1> <center>Welcome to our About Us Page!</center></h1>

<br>
<br>

<div class="container">
    <div class="row">
      <div class="col">
          <h2> <center>Meet Susana Sun</center></h2>
          <h6>Susana is a student at Oakland Technical High School! She likes to hang out with friends, go on hikes, snowboard, and read. She has 2 younger brothers and 1 twin sister.</h6>
          <img src = "https://media-exp1.licdn.com/dms/image/C4D03AQEKgSU0K8shwg/profile-displayphoto-shrink_200_200/0/1629007160451?e=1653523200&v=beta&t=mGWStUXz4bHfnS62rHpQ81fSH3uLdLPLAjw7BlTTXpQ">
      </div>
      <div class="col">
        <h2> <center>Meet Krystal Long</center></h2>
        <h6>Krystal is a student at Oakland Technical High School! She likes to bake, watch TV shows and listen. She has 2 older brothers.</h6>
        <img src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        </div>
      <div class="w-100"></div>
      <div class="col">
        <br>
        <h2> <center>Meet Sophie Rathhaus</center></h2>
        <h6>Sophie is a student at Oakland Technical High School! She likes to watch shows, listen to music, and hang out with friends.</h6>
        <img src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
      </div>
      <div class="col">
        <h2> <center>Meet Jia Yong Sun</center></h2>
        <h6>Jia Yong is a student at Oakland Technical High School! She likes to watch read, draw, and paint.</h6>
        <img src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
      </div>
      <div class="w-100"></div>
      <div class="col">
        <h2> <center>Meet Nghi Lac</center></h2>
        <h6>Nghi is a student at Oakland Technical High School! She likes to watch hang out with friends and watch shows.</h6>
        <img src = "https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
      </div>
      <div class="col">
      </div>
      <div class="w-100"></div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Intended Purpose</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#1: Through the interactivites on the website, you are able to reflect on and learn about yourself/habits
            </th>
      </tr>
      <tr>
        <th scope="row">#2: Learn to not immediately internalize everything and love yourself</th>
      </tr>
      <tr>
        <th scope="row">#3: Inspire users to start learning to change their mindset</th>
      </tr>
    </tbody>
  </table>

  <br>
  <br>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Interactivity Description</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Bullet Journal</th>
        <td>Write down your thoughts and use the bullet jounal space as a place to rant and share out your opinion about anything you want to get out. </td>
      </tr>
      <tr>
        <th scope="row">Choose Your Adventure Game</th>
        <td>The Choose your Adventure Game will have a positive story path and a negative story path to inform others about the impact of beauty standards on mental health.
        </td>
      </tr>
      <tr>
        <th scope="row">Educational</th>
        <td>Learn more about how Beauty Standards are causing negativity and impacting day to day life for individuals.</td>
      </tr>
      <tr>
        <th scope="row">Visualizing Data & Creating Graphs</th>
        <td>Graphs and charts are used to track your progress and feeling throughout the day.</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <h6>
    Contact Us
    Email: s_susana.sun@ousd.org
  </h6>
  <br>
  <h4>Version History/ Last Updated: 3/23/22 </h4>

{% endblock %}